<%- include ('partials/header') %>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
  // function
</script>

<div class="container">
  <div>
    <div class="row">
      <a class="btn btn-info" style=" margin-left:1000px;" href="/add" >Add a new item</a>
      <a class="btn btn-info" style=" margin-left:1000px;" href="/logout" >Logout</a>
  </div>
  </div>

<div class="row" style="text-align: center">
  <!-- <p>Hi.. <%= results.length %></p> -->
<% results.forEach(function(item){ %>
	<div>
    <img src="/images/<%= item.image %>" style="width:200px; height:200px;" class="img-thumbnail"/>
		<div class="caption"><a href="items/<%= item._id %>"><%= item.title %></a></div>
	</div>
<% }); %>

</div>
</div>



<%- include ('partials/footer') %>

